{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

{% include 'vendor.html' %}

<form class="card my-3" method="POST">
    <div class="card-header">
        <h5 class="my-1">Добавление нового устройства</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><label for="vendor">Производитель</label></th>
                    <th scope="col"><label for="hostname">Название устройства</label></th>
                    <th scope="col"><label for="ip_address">IP адрес</label></th>
                    <th scope="col"><label for="login">Логин</label></th>
                    <th scope="col"><label for="password">Пароль</label></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control" type="text" placeholder="Введите производителя" id="vendor"
                            name="vendor" required />
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Введите название" id="hostname"
                            name="hostname" required />
                    </td>
                    <td>
                        <input class="form-control" type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"
                            placeholder="Введите IP адрес" id="ip_address" name="ip_address" required />
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Введите логин" id="login" name="login"
                            required />
                    </td>
                    <td>
                        <input class="form-control" type="password" placeholder="Введите пароль" id="password"
                            name="password" required />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" name="create-device"
                            id="create-device">Добавить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<div class="mb-5">
    {{ render_pagination(pagination, request.endpoint, { "vendor": vendor}) }}
</div>
{% endblock %}