{% extends 'base.html' %}

{% block content %}

<div class="card my-4 d-flex flex-wrap">
    <div class="card-header">
        <h4 class="my-1 py-2">Статистика для устройств:</h4>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Количество устройств</td>
                    <td>{{ device_count }}</td>
                </tr>
                <tr>
                    <td>Количество бэкапов</td>
                    <td>{{ backups_count }}</td>
                </tr>
                <tr>
                    <td>Устройств с авто-бэкапом</td>
                    <td>{{ auto_backup_count }}</td>
                </tr>
                <tr>
                    <td>Устройств онлайн</td>
                    <td>{{ online_count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="d-flex justify-content-center">
    <form class="card my-1" method="POST" style="max-width: 21rem;">
        <div class="card-header">
            <h5 class="my-1">Генерация ключа шифрования</h5>
        </div>
        <div class="card-body p-1">
            <button type="submit" class="btn btn-primary w-100"> Сгенерировать </button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}